@tailwind base;
@tailwind components;
@tailwind utilities;

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
	color-scheme: light dark;
	--color-scheme: light-dark(white, black);
	--invert-scheme: light-dark(black, white);
	--background: light-dark(#999, #021);
	--accented-background: light-dark(#797, #032);
	--foreground: light-dark(#00521f, #aaa);
	--altForeground: light-dark(#113814, #999);
	--primary: light-dark(#00537F, #00537F);
	--secondary: light-dark(#00537F, #00537F);
	--success: #198754;
	--warning: #ffc107;
	--danger: #FF5353;
	--info: #0dcaf0;
}

/* If the browser prefers dark mode, apply these css settings */
/* @media (prefers-color-scheme: dark) {
	img {
		filter: invert(1);
	}
} */

body {
	color: var(--foreground);
	background: var(--background);
	transition: background 1s;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	/* color: var(--foreground) !important; */
	/* filter: invert(calc(var(--color-scheme))); */
	/* background: var(--foreground); */
	display: unset;
}

img:is(.grayscale) {
	mix-blend-mode: difference;
}

/* slides the sidebar out if page is too small */
@media screen and (max-width: 1200px) {
  .sidebar-left {
    transform: translateX(-100%);
    z-index: 20;
  }
}

@keyframes fadeInOutHold {
	  0%	{ opacity:0; }
	 35%	{ opacity:0; }
	 50%	{ opacity:1; }
	 65%	{ opacity:1; }
	100%	{ opacity:0; }
}

.fade-in-out {
   /* -webkit-animation: fadeInHoldOutHold 1s infinite;
   -moz-animation: fadeInHoldOutHold 1s infinite;
   -o-animation: fadeInHoldOutHold 1s infinite; */
    animation: fadeInOutHold 4s infinite;
}

@keyframes fadeOutInHold {
	  0%	{ opacity:1; }
	 15%	{ opacity:1; }
	 50%	{ opacity:0; }
	 85%	{ opacity:0; }
	100%	{ opacity:1; }
}

.fade-out-in {
   /* -webkit-animation: fadeInHoldOutHold 1s infinite;
   -moz-animation: fadeInHoldOutHold 1s infinite;
   -o-animation: fadeInHoldOutHold 1s infinite; */
    animation: fadeOutInHold 4s infinite;
}