@tailwind base;
@tailwind components;
@tailwind utilities;

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
	color-scheme: light dark;
	--color-scheme: light-dark(white, black);
	--background: light-dark(#bbb, #222);
	--altBackground: light-dark(#999, #444);
	--foreground: light-dark(#222, #bbb);
	--altForeground: light-dark(#444, #999);
	--primary: light-dark(#00537F, #00537F);
	--secondary: light-dark(#00537F, #00537F);
	--success: #198754;
	--warning: #ffc107;
	--danger: #FF5353;
	--info: #0dcaf0;
}

/* If the browser prefers dark mode, apply these css settings */
/* @media (prefers-color-scheme: dark) {
	img {
		filter: invert(1);
	}
} */

body {
	color: var(--foreground);
	background: var(--background);
	transition: background 1s;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	/* color: var(--foreground) !important; */
	/* filter: invert(calc(var(--color-scheme))); */
	/* background: var(--foreground); */
	display: unset;
}

img:is(.grayscale) {
	mix-blend-mode: difference;
}

/* slides the sidebar out if page is too small */
@media screen and (max-width: 1200px) {
  .sidebar-left {
    transform: translateX(-100%);
    z-index: 20;
  }
}
